body {
    background-image: url(Videos/saitama.gif);
    background-position: center;
}

li {
    list-style-type: none;
    width: 80px;
    height: 80px;

    background-color: #ff0000;
    box-shadow: 0 8px 25px hsla(0, 0%, 0%, 0.219);
    border-radius: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    transition: .2s;
}

li:hover {
    width: 180px;
}

a {
    color: #00fff2;
    font-size: 20px;
    transition: .2s;
    transition-delay: .1s;
    font-size: 1.3em;
}

a:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
    border-radius: 60px;
}

#div-fixa {
    position: fixed;
    bottom: 20px;
    margin: 0 20px;
    background: rgb(153, 255, 0);
    width: 230px;
    border-radius: 50px;
    cursor: pointer;
}

#div-fixa img {
    width: 50px;
    height: 50px;
}

#div-fixa a .flex-itens {
    display: flex;
    align-items: center;
}

#div-fixa a .flex-itens span {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #040305;
    margin-left: 5px;
}

.flutuar {
    animation-name: flutuar;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes flutuar {
    from {
        transform: translate3d(0, 0, 0);
        filter: brightness(100%);
    }
    to {
        transform: translate3d(0, -15px, 0);
        filter: brightness(150%);
    }
}